:root{
    --main-color: #8336ff;
    --pause-color: #fcb675;
}

body{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    padding: 0;
    min-width: 500px;
    max-height: 700px;
    box-sizing: border-box;
    padding-top: 48px;
}

main .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

main .row span:nth-of-type(1){
    min-width: 56px;
}

main .row span:nth-of-type(2),
main .row span:only-of-type{
    flex: 1;
    margin-left: 4px;
}

main .row img{
    width: 2em;
    margin-right: 4px;
}

main .row:not(#status-row) span:nth-of-type(1){
    color: var(--main-color);
}

main .row:not(#status-row).inactive span,
main .row:not(#status-row).inactive img{
    opacity: 0.5;
}

main .row:not(#status-row).killed{
    opacity: 0.5;
    pointer-events: none;
}

main #status-row{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    margin-bottom: 4px;
    background-color: var(--pause-color);
    padding: 8px 8px 8px 16px;
}

main #status-row.status_watching{
    background: var(--main-color);
    color:whitesmoke;
}

main #status-row.status_watching button{
    background: white;
    color: var(--main-color);
}

main #status-row:not(.status_watching) button{
    background: #ff9800;
    color: white;
    border-color: #ff9800;
}

main #tabs{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 100px;
    background-color: #fafafa;
    flex: 1;
    position: relative;
    margin-top: 4px;
}

main #tabs:empty::after{
    content: 'Nothing to watch';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    color: var(--main-color);
    font-size: 2em;
}

main #tabs .row{
    padding: 8px 8px;
    margin: 0 4px 4px;
    border: 1px solid gray;
    border-radius: 3px;
    position: relative;
}

/* buttons */
main button{
    border: 1px solid;
    border-radius: 3px;
    border-color: inherit;
    color: inherit;
    background: inherit;
    padding: 8px 20px;
}

main #tabs .row button{
    padding: 2px;
    border: none;
    border-radius: 3px;
    background: transparent;
    display: flex;
}

main #tabs .row button svg{
    width: 1.4em;
    color: gray;
}

main #tabs .row button:hover svg{
    /* background: rgba(131, 54, 255, 0.1) */
    color: var(--main-color);
}

main #tabs .row::after{
    content: '';
    background-color: var(--process-color, var(--main-color));
    width: var(--process-percent , 0);
    left: 0;
    bottom: 0;
    height: 2px;
    position: absolute;
    transition: all .3s;
}